@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,300;0,7..72,400;0,7..72,500;0,7..72,600;0,7..72,700;0,7..72,800;0,7..72,900;1,7..72,200;1,7..72,300;1,7..72,400;1,7..72,500;1,7..72,600;1,7..72,700;1,7..72,800;1,7..72,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather";
}

html,
body {
  width: 100%;
}

body {
  background-color:#082c2b ;
}

.tobottom_icon{
    filter: invert(100%);
    margin: 10px auto;
    height: 40px;
}

.text_yellov{
  color:linear-gradient(20deg, rgba(248,215,86,1), rgba(156,109,39,1));
}

#preload{
  transition:2000ms;
}

#music_controler{
  z-index: 37;
}

.contener {
  display: none;
}

.h1_text{
  font-family: "Literata";
}